* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 24px;
    font-family: "Open Sans";
    line-height: 1.16;
    font-weight: 600;
    height: 100vh;

    display: flex;
    align-items: center;
}

button {
    font: inherit;
    padding: 8px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    min-width: 300px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator {
    background-color: #CC975D;
    padding: 40px;
    width: 380px;

    border-radius: 5px;
    box-shadow: 8px 8px 12px 0px rgba(66, 68, 90, 1);
}
.calculator__memory {
    height: 28px;
    width: 90%;
    margin-bottom: 10px;
    text-align: end;
    font-size: 20px;
    opacity: 0.7;
} 

.calc__display {
    height: 48px;
    text-align: end;

    background-color: #ffffff;
    border-color: #383535;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    
    padding: 10px;
    margin: 0 auto 20px;
}
.calc__btn--wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
.number__btns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;    
}
.number__btn {
    border-radius: 5px;
    border-width: 1px;
    background-color: #AD8A67;
    color: #ffffff;
}
.accent__btn {
    border-radius: 5px;
    border-width: 1px;
    background-color: #FFC0B9;
    color: #000000;
    font-size: 28px;
}
.operator__btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;    
    font-size: 28px;
}
.operator__btn {
    border-radius: 5px;
    border-width: 1px;
    border-color: #ffffff;
    background-color: #FFF6E7;
    color: #000000;
}
